.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filter-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}
